* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(37, 29, 29);
}

#board {
    width: 600px;
    height: 600px;
    margin: 50px;
    border: 3px solid rgb(61, 43, 226);
    border-radius: ;
}

.cell {
    display: inline-block;
    width: 195px;
    height: 195px;
    border: 3px solid rgb(61, 43, 226);
}

#reset {
    width: 200px;
    height: 100px;
    margin: 100px 250px;
    font-size: 30px;
    background-color: rgb(223, 160, 83);
}